<h1 role="toolbar" class="dialog-header">
	<svg role="img" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><title>Mug icon</title><path id="icon" d="M2 21H20V19H2M20 8H18V5H20M20 3H4V13A4 4 0 0 0 8 17H14A4 4 0 0 0 18 13V10H20A2 2 0 0 0 22 8V5C22 3.9 21.1 3 20 3Z"/></svg>
	Support PaintZ
</h1>
<p>I'm glad PaintZ has been useful to you!  PaintZ is free, and it always will be, but a little support really helps.</p>
<div class="dialog-footer">
	<button type="button" class="closeButton" style="float: left;">No thanks</button><!--
	--><button type="button" class="postponeButton">Later</button><!--
	--><a role="button" href="https://ko-fi.com/ZMYaro" target="_blank" class="submitLink" id="coffeeLink">Buy me a cuppa</a>
</div>
