<h1 role="toolbar" class="dialog-header">
	<button type="button" title="Close" class="closeButton">
		<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Close</title><path id="icon" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
	</button>
	Welcome to PaintZ!
</h1>
<img src="images/toolbar_overview.png" alt="screenshot of the PaintZ toolbar with the drawing tools, tool settings, color pallette, and help icon highlighted." style="display: block; width: 100%;" />
<p>
	Select the brush tool
	<svg role="img" class="helpIcon welcomeIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>brush icon</title><path id="icon" d="M7 14c-1.66 0-3 1.34-3 3 0 1.31-1.16 2-2 2 .92 1.22 2.49 2 4 2 2.21 0 4-1.79 4-4 0-1.66-1.34-3-3-3zm13.71-9.37l-1.34-1.34c-.39-.39-1.02-.39-1.41 0L9 12.25 11.75 15l8.96-8.96c.39-.39.39-1.02 0-1.41z"/></svg>
	and start painting!
</p>
<p>
	Use the drawing tool buttons to switch drawing tools and the color palette to switch colors.
</p>
<p>
	Click the
	<svg role="img" class="helpIcon welcomeIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>help icon</title><path id="icon" d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/></svg>
	button to learn more about different drawing tools.
</p>
<p class="small" style="margin-bottom: 0.25em; /* Less space before the footer since it only has one button and this paragraph is small. */">
	PaintZ uses Google Analytics to track visits, but it does not store any personal information.  For more details, see <a href="/privacy" target="_blank">Privacy</a>.
</p>
<div class="dialog-footer">
	<button type="submit">Get started</button>
</div>
